
html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  color: #222831;
  background-color: #eeeeee;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;

}

.social-nav {
  text-align: right;
}

.site-nav {
  text-align: left;
}

.vertical-divide {
  display: inline;
}

.top-banner {
  background-color: #8eb69b77;
  text-align:center;

}
.top-banner span {
  padding: 0 4%;
  color: #051f20;
}

.navbar {

  padding-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-template-areas:
  "site-nav social-nav";
  margin-left: 1%;
  margin-right: 1%;
}

#site_nav {
  grid-area: site-nav;
}

#social_nav {
  grid-area: social-nav;
}

.site-nav a, .social-nav  a, .vertical-divide {
padding-right: 1%;
text-decoration: none;
font-size: 1.5rem;
color: #051f20;
}
.site-nav a:hover, .social-nav a:hover {
  color: #8eb69b;
}

.flex-box-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  background: url("../images/mello_banner.jpg") no-repeat center;
  background-size: cover;
  height: 400px;
  width: 100%;

}

/* .banner img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
} */

.top-section {
  display: grid;
  grid-template-columns: 15% 70% 15%
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-template-areas:
  "decor-left page-info decor-right";
  margin: 25px auto;
}

#decor_left {
  grid-area: decor-left;
}

#page_info {
  grid-area: page-info;
  margin-top: 100px;
  text-align: justify;
  padding: 0;
}

#decor_right {
  grid-area: decor-right;
}

.decor-left {
  transform:rotateZ(-30deg);
padding:0;
}
.decor-right {
  transform: rotateZ(30deg);
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width:25%;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.middle-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  margin-left: 120px;

}
.photo-link img{
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
}
